<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    DASHBOARD-->
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <jsp-file>/dashboard.jsp</jsp-file>
    </servlet>
   
   
    
    
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>dashboard</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>TaskController</servlet-name>
        <servlet-class>com.ats.atssystem.controllers.TaskController</servlet-class>
    </servlet>
    <!--    tasks list page-->
    <servlet-mapping>
        <servlet-name>TaskController</servlet-name>
        <url-pattern>/tasks</url-pattern>
    </servlet-mapping>
    <!--    create task page-->
    <servlet-mapping>
        <servlet-name>TaskController</servlet-name>
        <url-pattern>/task/*</url-pattern>
    </servlet-mapping>
    
    
    <!-- Employee Servlet-->
    
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>com.ats.atssystem.controllers.EmployeeController</servlet-class>
    </servlet>

    <!-- GET ALL EMPLOYEES-->
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>

    <!--EMPLOYEE MAINTENANCE-->
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/employee/*</url-pattern>
    </servlet-mapping>
    
    <!--    TEAM SERVLET-->
    <servlet>
        <servlet-name>TeamController</servlet-name>
        <servlet-class>com.ats.atssystem.controllers.TeamController</servlet-class>
    </servlet>
    
    
    <!--TEAM MAINTENANCE-->
    <servlet-mapping>
        <servlet-name>TeamController</servlet-name>
        <url-pattern>/team/*</url-pattern>
    </servlet-mapping>
    
    <!--JOB SERVLET-->
     <servlet>
        <servlet-name>JobController</servlet-name>
        <servlet-class>com.ats.atssystem.controllers.JobController</servlet-class>
    </servlet>
    <!--JOB MAINTENANCE-->
     <servlet-mapping>
        <servlet-name>JobController</servlet-name>
        <url-pattern>/job/*</url-pattern>
    </servlet-mapping>
    
    
    
</web-app>
